// FONTS
$header-font: 'Vast Shadow', cursive;
$title-font: 'Stint Ultra Expanded', sans-serif;
$body-font: 'Muli', sans-serif;
$hero-font-light: 'Stint Ultra Expanded', sans-serif;
$hero-font-bold: 'Ultra', sans-serif;

// COLORS
$primary: #dd1021;
$secondary: white;
$body-color: #232323;
$background: #fbfbf3;
$footer-bg: #554433;
$button-bg: transparent;
$button-bg-hover: #dd1021;
$button-border: #dd1021;
$navbar-bg-scrolled: #554433;
$cart-items-bg: #dd1021;